/*variable declarations*/
:root {
    /*named colour values*/
    --colour-white: #ffffff;
    --colour-grey: #c4c4c4;
    --colour-pete: #fbf116;

    /*transitions*/
    --transition-time: 1s;
    
    /*borders*/
    --card-border: 3px solid black;

    /*margins and paddings*/
    --card-padding: 10px;   
}

html{
    box-sizing: border-box;
}

body {
    background-color: var(--colour-pete);
    padding: 20px 50px;
    font-family: "Open Sans", sans-serif;
}

@media (min-width: 900px) {
    body {
        padding: 20px 100px;
    }
}

@media (min-width: 1500px) {
    body {
        padding: 20px 200px;
    }
}
