header {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  padding: 50px 100px;
  border: 15px solid black;
  justify-content: center;
  align-items: center;
}

.logo__image {
  max-width: 500px;
  flex: 1;
}
