.main__nav {
  display: flex;
  justify-content: end;
  list-style-type: none;
  padding-left: 75%;
  margin: 0px;
  
}

.main__nav__link {
    text-decoration: none;
    color: black;
}

.main__nav__item{
    flex: 1;
    text-align: center;
    padding: 10px;
    transition: all var(--transition-time);
}

.main__nav__item--active{
    background-color: black;
}

.main__nav__link--active{
    color: var(--colour-pete);
}

.main__nav__item:hover{
    background-color: black;
    color: var(--colour-pete);
}

.main__nav__link:hover{
    text-decoration: none;
    color: var(--colour-pete);
}


